<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aaron911.micro.im.db.mapper.UserDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.aaron911.micro.im.db.entity.UserDepartment">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="count" property="count" />
        <result column="level" property="level" />
        <result column="parentid" property="parentid" />
        <result column="remark" property="remark" />
        <result column="createdate" property="createdate" />
        <result column="updatedate" property="updatedate" />
        <result column="updateuser" property="updateuser" />
        <result column="isdel" property="isdel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, count, level, parentid, remark, createdate, updatedate, updateuser, isdel
    </sql>

</mapper>
